#!/usr/bin/python

import os

os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'conf')

from sentry.models import User, Team, Project, Organization, OrganizationMember

{% if sentry_admin %}
admin, created = User.objects.get_or_create(
    username="{{sentry_admin}}",
    defaults={"is_superuser": True, "is_staff": True, "email": "{{sentry_admin_email}}"})

if created:
    admin.set_password("{{sentry_admin_password}}")
    admin.save()

{% endif %}